@font-face {
    font-family: 'NassimArabicRegular';
    src: url('https://cdn.20dev.com/fonts/Arabic/NassimArabicRegular.woff2') format('woff2'),
         url('https://cdn.20dev.com/fonts/Arabic/NassimArabicRegular.woff') format('woff'),
         url('https://cdn.20dev.com/fonts/Arabic/NassimArabicRegular.ttf') format('truetype'),
         url('https://cdn.20dev.com/fonts/Arabic/NassimArabicRegular.eot') format('embedded-opentype');
    unicode-range: U+0020-007F, U+0600-06FF;
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'SareehSemiBold';
    src: url('https://cdn.20dev.com/fonts/Arabic/SareehSemiBold.woff') format('woff'),
         url('https://cdn.20dev.com/fonts/Arabic/SareehSemiBold.woff2') format('woff2'),
         url('https://cdn.20dev.com/fonts/Arabic/SareehSemiBold.eot') format('embedded-opentype'),
         url('https://cdn.20dev.com/fonts/Arabic/SareehSemiBold.eot?#iefix') format('embedded-opentype'),
         url('https://cdn.20dev.com/fonts/Arabic/SareehSemiBold.otf') format('truetype');
    unicode-range: U+0020-007F, U+0600-06FF;
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
